.projectname {
  color:#848484;
  font-size: 22px;
}

.menunav {
  color:#5882FA;
  text-align: center;
}

.espaciado {
  padding-top: 15px;
  padding-bottom: -30px;
}

.espaciado2 {
  padding-top: 10px;
}

.fondogris {
  background-color: #E6E6E6;
  text-align: center;
  }

.resaltado {
  color: #848484;
  font-size: 16px;
}

p {
  color: #848484;
}

h6 {
  color: #848484;
}
